body {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    padding: 2vw;
    display: inline-block;
}

nav ul li a {
    font-size: 16px;
    font-family: Epilogue;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    color: grey;
    text-decoration: none;
}

nav ul li a:hover {
    color: black;
}

.btn {
    background: linear-gradient(to right, hsl(136, 49%, 57%), hsl(192, 70%, 51%));
    width: 138px;
    height: 48px;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 40px;
    margin-bottom: 10px;
    cursor: pointer;
}

.details {
    background-color: hsl(0, 0%, 98%);
    display: flex;
    justify-content: space-around;
}

.mock_image {
    width: 400px;
    height: 400px;
    margin-top: 10%;
}

.sub-div h2 {
    font-size: 72px;
    width: 36vw
}

.sub-div p {
    font-size: 20px;
    width: 25vw;
}

.sub_div2 h5 {
    font-size: 40px;

}

.sub_div2 p {
    font-size: 20px;
    width: 42vw;
}

.sub_div2 {
    margin-left: 10%;
    margin-top: 2%;
    padding: 1px;
}

.benefits h5 {
    font-size: 35px;
    margin-top: 20px;
}

.benefits p {
    font-size: 20px;
    width: 17vw;
}

.why_list {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.benefits {
    margin-top: 5%;
    margin-right: 2%;
}

.sub_div2 h3 {
    font-size: 40px;
}

.latest_article {
    background-color: hsl(0, 0%, 98%);

}

.card_body {
    background-color: white;
    margin-bottom: 5%;
    padding: 20px;
}

.card_pic {
    width: -webkit-fill-available;
    height: 300px;
    border-radius: 6px;
}

.card_body p {
    margin: 0;
    font-size: 20px;
}

.paragraph {
    width: 17vw;
}

.card_body h5 {
    margin: 0;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.articles {
    width: 25%;
}

.article_card {
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 1em;
}

.footer {
    background-color: hsl(233, 26%, 24%);
}

.social_link_img {
    margin-top: 50%;
    margin-bottom: 25%;
    cursor: pointer;
}

.footer_img {
    padding-top: 32%;
}

.social_link_list {
    display: flex;
    gap: 10%;
}

.social_link {
    display: flex;
    justify-content: space-around;
}

.footer_nav1 {
    padding-top: 1%;
    color: #ffffff;
}

.footer_nav2 {
    padding-top: 1%;
    color: #ffffff;
}

.footer_nav3 {
    padding-top: 40px;
    color: #ffffff;
}

.footer_nav3 p {
    margin: 0;
    padding-top: 5%;
}

.mobileimg {
    display: none;
}

@media(max-width:768px) {

    .navbar {
        display: block;
        display: flex;
        padding: 3%;
        justify-content: space-between;
    }

    .point {
        display: none;
    }

    .btan {
        display: none;
    }

    .mobileimg {
        display: block;
    }

    .details {
        background-color: hsl(0, 0%, 98%);
        flex-direction: column-reverse;
    }

    .mock_image {
        width: 75%;
        padding-left: 10%;
    }

    .sub-div h2 {
        font-size: 38px;
        width: 48vw;
        margin: 0 auto;
        text-align: center;
    }

    .sub-div p {
        width: 63vw;
        padding-top: 4%;
        padding-bottom: 2%;
        margin: 0 auto;
        text-align: center;
    }

    .btan1 {
        display: flex;
        justify-content: center;
    }

    .sub_div2 h5 {
        font-size: 28px;
        margin: 0 auto;
        width: 35vw;
        padding-bottom: 4%;
        text-align: center;
    }

    .sub_div2 p {
        margin: 0 auto;
        width: 50vw;
        text-align: center;
    }

    .sub_div2 {
        margin: 0px;

    }

    .why_list {
        display: block;
    }

    .benefits h5 {
        width: 55vw;
        margin: 0 auto;
        text-align: center;
    }

    .benefits p {
        text-align: center;
        width: 52vw;
        margin: 0 auto;
        padding: 2%;
    }

    .img1 {
        width: 12%;
        padding-left: 45%;

    }

    .sub_div2 h3 {
        text-align: center;
    }

    .article_card {
        display: block;
    }

    .social_link_list {
        gap: 6%;
    }

    .card_pic {
        border-radius: 6px;
        margin-right: 0px;
    }

    .articles {
        width: 100%;
    }

    .sub_div3 {
        margin-right: 0px;
    }

    .width {
        width: 53vw;
    }

    .paragraph {
        width: 30vw;
    }

    .social_link_list {
        justify-content: center;
    }

    .social_link {
        display: block;
    }

    .social_link_img {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .footer_nav1 {
        text-align: center;
    }

    .footer_nav2 {
        text-align: center;
    }

    .footer {
        padding-left: 0px;
    }

    .footer_nav3 p {
        text-align: center;
        padding-bottom: 5%;
    }

    .footer_img {
        display: flex;
        justify-content: center;
        padding-top: 10%;

    }

}